/* 
Typography is the way that 
text  is arranged and presented 
*/
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    padding:5%;
    font-size:2rem;
    font-family: 'Roboto', sans-serif;
}

/* input,button{
    font:inherit;
} */

p{
    text-decoration:none;
    /* text-transform:capitalize; */
    /* text-align:justify; */
    line-height: 1.5;
    font-weight: 100;
    /* font-style: italic; */
    /* letter-spacing: 0.5rem; */
    /* word-spacing: 2rem; */
    
}










